.h1 {
    background-color: #ff6600;;
    color: #03989E;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    height: 18px;
    padding: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    background: none;
}
