.h1{
    background-color: #DE9B6E;
    font-style: oblique;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 20px;

}
.content{
    display: flex;
flex-direction: column;}

