.h1 {
    background-color: bisque;
    color: #03989E;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    background: none;
}