nav { 
    display: flex;
    align-items: center;
    height: 90px;
    padding: 10px;
    background-color: bisque;
    }
nav > img{
height: 50px;
}
nav > h4 {
    margin: 20px;
    display: flex;
    flex-direction: flex-end;
}