

.heading {
  display: flex;
  justify-items: end;

}

/*style for App*/
.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
  background-image: radial-gradient(rgb(0, 0, 0), 20%, transparent 20%);
  background-position: 500 500, 300px 300px;
  background-size: 4px 4px;
  width: 100%;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*style for CourseCard*/
.coursecard {
  background-color: whitesmoke;
  width: 250px;
}

.coursename:hover {
  color: rgb(86, 13, 203);
}

.coursecard:hover {
  transition: box-shadow .3s;
  box-shadow: 10px 10px grey;
}

.coursecardtop {
  background-color: rgb(86, 13, 203);
  background-image: radial-gradient(grey);
  color: white;
  padding: 20px;
}

.list {
  list-style: none;
  size: 1rem;
}

.coursecardbottom {
  padding: 20px;
}

.button {
  background-color: rgb(255, 196, 0);
  color: black;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  border: 0px;
  font-weight: bold;
  margin: 5px;
}

.button:hover {
  background-color: rgb(86, 13, 203);
  color: white;
  transition: box-shadow .3s;
  box-shadow: 0 0 5px 5px lightgray;
}
/*style for RegisterFrom*/
input {
  display: block;
  padding: 5px;
  height: 25px;
}

.book-btn{
  color: white;
  background-color: rgb(86, 13, 203);
  border: 0mm;
  width: 80px;
  height: 30px;
}
  

textarea {
  display: block;
  padding: 5px;
  height: 25px;
}
