.heading {
  display: flex;
  justify-items: end;

}

/*style for App*/
.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
  background-image: radial-gradient(rgb(0, 0, 0), 20%, transparent 20%);
  background-position: 500 500, 300px 300px;
  background-size: 4px 4px;
  width: 100%;
}

.headline {
  text-align: center;
}

/*style for CourseCard*/
.coursecard {
  background-color: whitesmoke;
  width: 250px;
}

.coursename:hover {
  color: #03989E;
}

.coursecard:hover {
  transition: box-shadow .3s;
  box-shadow: 10px 10px grey;
}

.coursecardtop {
  background-color: #03989E;
  background-image: radial-gradient(grey);
  color: white;
  padding: 20px;
}

.list {
  list-style: none;
  size: 1rem;
}

.coursecardbottom {
  padding: 20px;
}

.button {
  background-color: #03989E;
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  border: 10px;
  font-weight: bold;
  margin: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: bisque;
  color: #03989E;
  transition: box-shadow .3s;
  box-shadow: 4px 4px grey;
}

/*style for RegisterFrom*/
input {
  display: block;
  padding: 5px;
  height: 25px;
}

.book-btn {
  color: white;
  background-color: #03989E;
  border: 0mm;
  width: 80px;
  height: 30px;
}

textarea {
  padding: 5px;
  width: 300px;
  min-height: 100px;
  box-shadow: 3px 3px rgb(220, 220, 220);
}

select {
  width: 308px;
  height: 35px;
  box-shadow: 3px 3px rgb(220, 220, 220);
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  border-width: 1px;
  position: relative;
  background-color: white;
  box-shadow: 3px 3px rgb(220, 220, 220);
}

.check {
  display: flex;
  flex-direction: row;
}